*~
*.sdf
*.sln
*.njsproj
*.test.json

.DS_Store
.idea

todoslist.json
todoslist.json.temp
npm-debug.log
app.zip
credentials.csv
aws_keys.json
todo.zip
package-lock.json
yarn.lock

/bin/
/obj/
/.vs/
/node_modules
/*.env
